body {
  margin: 0;
  padding: 0;
  background-color: light-dark(var(--color-background), var(--color-dark-background));
  color: light-dark(var(--color-light-on-background), var(--color-dark-on-background));
}

@media (width < 480px) {
  .xs-hidden {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .sm-hidden {
    display: none !important;
  }
}

.nav-drawer-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100vw;

  .content-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
  }
}

#main-menu {
  position: fixed;
  top: calc(env(safe-area-inset-top) + 64px + 0.5rem);
  right: 0.5rem;
  z-index: 3;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-center;
  padding: 1rem 0;
  gap: 1rem;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
  color: light-dark(var(--color-light-on-form), var(--color-dark-on-form));
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.5rem max(64px, env(safe-area-inset-bottom)) 0.5rem;
  gap: 0.25rem;
  background-color: light-dark(var(--color-light-surface), var(--color-dark-surface));
  color: light-dark(var(--color-light-on-surface), var(--color-dark-on-surface));
  font-size: 0.875rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
}

.row.center {
  align-items: center;
}

.row.bottom {
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
}

h3 {
  margin: 1rem 0 0 0;
  padding: 0.25rem 0.5rem;
  position: sticky;
  top: calc(env(safe-area-inset-top) + 64px);
  z-index: 2;
  font-size: 1.5rem;
  font-weight: normal;
  color: light-dark(
    var(--color-light-on-secondary-fixed),
    var(--color-dark-on-secondary-fixed)
  );
  background-color: light-dark(
    var(--color-light-secondary-fixed-dim),
    var(--color-dark-secondary-fixed-dim)
  );
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

pre {
  margin: 0.25rem 0.5rem;
  padding: 0.125rem 0.25rem 0.5rem 0.25rem;
  max-width: calc(100% - 2rem);
  background-color: light-dark(
    var(--color-light-surface-container-high),
    var(--color-dark-surface-container-high)
  );
  overflow-x: auto;
  white-space: pre;
}

main > .row {
  padding: 0 1rem;
}

main > p,
main > pre {
  margin: 0 1rem;
}
