// Nav Drawer Component - SCSS
// Material Design 3 nav drawer

@use 'variables' as *;
@use 'mixins' as *;

$nav-drawer-width: var(--nav-drawer-width, 360px);
$nav-drawer-z-index: var(--nav-drawer-z-index, 10);

$nav-drawer-x-padding: $spacing-12px;
$nav-drawer-y-padding: $spacing-12px;
$nav-drawer-button-height: $spacing-56px;
$nav-drawer-button-width: calc(
  $nav-drawer-width - #{$nav-drawer-x-padding} * 2
);
$nav-button-icon-size: $spacing-24px;
$nav-button-gap: $spacing-12px;

.nav-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $nav-drawer-width;
  min-width: $nav-drawer-width;
  z-index: $nav-drawer-z-index;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include bg-color(surface-container-low);
  opacity: 1;

  padding: $nav-drawer-y-padding $nav-drawer-x-padding;

  &.hidden {
    display: none;
  }

  &.modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: $nav-drawer-width;
    right: calc($nav-drawer-width - 100vw);
    bottom: 0;
    @include bg-color(shadow);
    opacity: 0.38;
  }

  hr {
    width: calc(100% - $spacing-32px);
    margin: $spacing-1px $spacing-16px;
  }

  button,
  a {
    @include reset-control-appearance;
    @include one-line-truncate;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: $nav-button-gap;
    width: $nav-drawer-button-width;
    height: $nav-drawer-button-height;
    min-height: $nav-drawer-button-height;
    border-radius: calc($nav-drawer-button-height / 2);
    padding: $spacing-16px $spacing-24px $spacing-16px
      calc($spacing-16px + $nav-button-icon-size + $nav-button-gap);
    @include fg-color(on-surface-variant);

    &:has(img),
    &:has(svg) {
      padding: $spacing-16px $spacing-24px $spacing-16px $spacing-16px;
    }

    &.active {
      @include bg-color(secondary-container);
      @include fg-color(on-secondary-container);
    }

    &.hidden {
      display: none;
    }

    img,
    svg {
      @include square-size($nav-button-icon-size);
    }

    &.active {
      @include bg-color(secondary-container);
      @include fg-color(on-secondary-container);
    }

    &:hover::after {
      @include state-overlay(on-surface-variant, $opacity-hovered);
    }

    &:focus::after,
    &:active::after {
      @include state-overlay(on-surface-variant, $opacity-focused);
    }
    &:focus::after {
      @include focus-outline;
    }
  }
}
