// App bar Component - SCSS
// Material Design 3 app bar

@use 'variables' as *;
@use 'mixins' as *;

$app-bar-z-index: var(--app-bar-z-index, 4);

$app-bar-height: $spacing-64px;
$app-bar-padding-vertical: calc(($app-bar-height - $spacing-48px) / 2);

.app-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: calc(
    $app-bar-height +
      max(0px, env(safe-area-inset-top) - $app-bar-padding-vertical)
  );
  padding: $app-bar-padding-vertical $spacing-4px
    max($app-bar-padding-vertical, env(safe-area-inset-bottom)) $spacing-4px;
  @include bg-color(surface);
  z-index: $app-bar-z-index;

  &.sticky {
    position: sticky;
    top: 0;

    &.on-scroll {
      @include bg-color(surface-container);
    }
  }

  button,
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include square-size($spacing-48px);

    background: inherit;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    gap: $spacing-4px;
    user-select: none;
    text-decoration: none;

    cursor: pointer;
    border-radius: $spacing-4px;
    @include fg-color(on-surface);

    &.hidden {
      display: none;
    }

    &:hover::after {
      @include state-overlay(on-surface, $opacity-hovered);
    }

    svg,
    img {
      @include square-size($spacing-24px);
    }
  }

  & > img,
  & > svg {
    display: inline-block;
    @include square-size($spacing-48px);
    margin: 0 $spacing-4px;
  }

  .title-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    padding: 0 $spacing-2px;
    gap: $spacing-2px;

    .title {
      display: flex;
      align-items: center;
      height: $spacing-28px;
      font-size: $spacing-24px;
      line-height: $spacing-28px;
      @include fg-color(on-surface);
      margin: 0;

      @include one-line-truncate;

      img,
      svg {
        display: inline-block;
        height: $spacing-24px;
        margin-right: $spacing-2px;
      }
    }

    .subtitle {
      display: inline-block;
      font-size: $spacing-12px;
      line-height: $spacing-16px;
      height: $spacing-16px;
      @include fg-color(on-surface-variant);
      @include one-line-truncate;
    }
  }
}
