// Divider Component - SCSS
// Material Design 3 divider

@use 'variables' as *;

hr {
  width: 100%;
  margin: $spacing-8px $spacing-16px;
  background: none;
  border-width: 0 0 $spacing-1px 0;
  border-style: solid;
  border-color: light-dark(
    var(--color-light-outline-variant),
    var(--color-dark-outline-variant)
  );
}
